.show-all-btn{
  width: 80rpx;
  height: 80rpx;
  padding: 6rpx;
  position: absolute;
  bottom: 60rpx;
  right: 40rpx;
  background-color: var(--themeBg);
  border: 2rpx solid #acacac;
  border-radius: 50%;
}

.self-position-btn{
  width: 80rpx;
  height: 80rpx;
  padding: 6rpx;
  position: absolute;
  bottom: 180rpx;
  right: 40rpx;
  background-color: var(--themeBg);
  border: 2rpx solid #acacac;
  border-radius: 50%;
}